
/* make variables */
:root {
  --lightgray: #ffffff;
  --gray: #9c9c9c;
  --orange: #79f415;
  --darkGrey: #464D53;
  --caloryCard: #656565;
  --planCard: linear-gradient(210.41deg, #fa5042 1.14%, #ffa739 100.75%);
  --appColor:  #000000;
}

.App {
  mix-blend-mode: overlay;
  background-color: var(--appColor);
  display: flex;
  flex-direction: column;
  gap: 6rem;
  overflow: hidden;
}
::-webkit-scrollbar{
  display: none;
}
.stroke-text{
  color: transparent;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
}
.btn{
  background-color: white;
  padding: 0.5rem;
  font-weight: bold;
  border: 4px solid transparent;
  transition: 300ms all;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn:hover{
  cursor: pointer;
}
/*@media (max-width: 1328px) {

  .header__title{
    font-size: 1rem;
  }
  .header__link,
  .header__btn{
    font-size: 0.8rem;
  }
}


@media (max-width: 925px) {  
  .header {
  justify-content: space-between;
  align-items: center;
  }
  .header_title-container,
  .header_menu,
  .header_btn-container {
  flex: 0 1 auto;
  }
  .header_title {
  font-size: 1.3rem;
  }
  .header_menu,
  .header_btn-container {
  display: none;
  }
  .header_sun {
  display: block;
  width: 1.5rem;
  height: 1.5rem;
  }}
  */
  /* Desktop */
@media (min-width: 1024px) {
  .header,
  .logo,
  .header-menu,
  .image-slider,
  .image-slider img {
    width: 100%;
  }
}

/* Tablet */
@media (max-width: 1024px) and (min-width: 768px) {
  .header,
  .logo,
  .header-menu,
  .image-slider,
  .image-slider img {
    width: 90%;
  }
}

/* Mobile */
@media (max-width: 767px) {
  .header,
  .logo,
  .header-menu,
  .image-slider,
  .image-slider img {
    width: 100%;
  }
}
